footer {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

footer .footer-content nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

footer .footer-content a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

footer .footer-content a:hover {
  color: #333;
}
